<div id="fill-recipes" class="">
  <h2>User<span class="text-success">Details</span></h2>
  <p>you can now view user details easily ...</p>
</div>
<div class="d-flex justify-content-center py-5 ">
<div class="card mb-3 w-75 h-75">
    <div class="row g-2">
      <div class="col-md-4 picture">
        <img [src]="userData.imagePath?imagePath+userData.imagePath:DummyImage" class="DummyImage">
      </div>
      <div class="col-md-8">
        <div class="card-body pt-4">
          <h3 class="card-title pb-2 primary">User Data</h3>
          <p class="fw-bold">Name:<span class="p-2 fw-light">{{userData.userName}}</span></p>
           <hr class="w-50">
           <p class="fw-bold">Email:<span class="p-2 fw-light">{{userData.email}}</span></p> 
           <hr class="w-50">
           <p class="fw-bold">Country:<span class="p-2 fw-light">{{userData.country}}</span></p> 
           <hr class="w-50">
       <p class="fw-bold">PhoneNumber:<span class="p-2 fw-light">{{userData.phoneNumber}}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
