.picture img{
width: 300px;
border-radius: 80px;
padding: 20px 20px;
//background-color: #c7f6c3;
}
.container{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn-success {
    position: absolute;
    right: 25%;
}